# Local Project Ignores
keys.py
user_keys.json
users.json
api keys.txt
key.txt
zip.zip

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/

# System Files
desktop.ini
